<div class="row">
<div class="column small-12 medium-8 medium-push-4 map-column">
  <div class="location-wide-poems">
    <div class="row">
      <div class="column small-12">
         <a href="#" id="location-wide-poems-hide">Close</a>
        <div id="pull-quote">
        <h1 id="location-wide-poems-header">Toronto Poems</h1>

        <p class="poem-excerpt">The City is about stories
        Yours, mine, what we want to hear
        Look, Listen, Linger</p>
        <p class="poem-credit">
        <span class='poem-title'>The City is for People</span><br/>
        <span class='poem-author'>By Honey Novick</span>
        </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column small-12 medium-4 poem-column">

      </div>
      <div class="column small-12 medium-4 poem-column">

      </div>
      <div class="column small-12 medium-4 poem-column">

      </div>
    </div>
  </div>

  <div id="map-canvas"></div>
</div>
  <div class="column small-12 medium-4 medium-pull-8 location-display">
    <h1 class="location-title">Welcome</h1>
    <div class="location-image-container"></div>
    <div class="location-image-credit-container"></div>
    <div class="poem-container">
<p>In 2015, with the help of Toronto’s fourth poet laureate <a href="http://www1.toronto.ca/wps/portal/contentonly?vgnextoid=821166e622b51410VgnVCM10000071d60f89RCRD&vgnextchannel=52a7b82e5c1ff310VgnVCM10000071d60f89RCRD">George Elliott Clarke</a>, <a href="http://www.torontopubliclibrary.ca/">Toronto Public Library</a> created <a href="http://www.torontopoetry.ca/">a new way to explore the city through poetry</a>.</p>

<p>The <a href="http://www.torontopoetry.ca/">Toronto Poetry Map</a> was launched in April 2015 to celebrate <a href="http://poets.ca/npm/">National Poetry Month</a>; this open source version of the application has been released a year later for those who may want to experiment with it or develop similar projects.</p>

<p>For source code and more information about the open source version please <a href="https://github.com/waharnum/poetrymap-opensource">visit the GitHub repository</a>.</p>

<h2>Using the map</h2>

<p>Select a map marker to see excerpts of poems associated with that location. Follow the links to borrow the poetry books from the library.</p>

<h2>Beyond the map</h2>

<p>Check out our <a href="/?loc=location-wide-poems" id="location-wide-poems-show">list of Toronto poems</a> that aren’t associated with specific geographic points.</p>

    </div>

    <div class="row mobile-footer show-for-small-only">
  <div class="column small-12">

  </div>
  </div>

  </div>
</div>
